.current-controller {
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.current {
  height: 600px;
  width: 80%;
  position: relative;
  margin-top: 218px;
}

.pic-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: rgb(219, 49, 128) 1px solid;
  height: 100%;
}
