.bodyparts-controller {
  min-height: 600px;
  min-width: 600px;
  margin: 0 auto;
  border: none;
}

.bodyparts-controller h4 {
  margin-top: 30px;
}

.slick-next:before,
.slick-prev:before {
  color: #808080;
}

.btn-customBodyPart {
  outline: none;
  border: none;
  border-style: none;
}

.slick-active div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 0 auto;
}

.slick-active div:hover {
  border-color: rgb(110, 210, 243);
  border: 2px solid rgb(110, 210, 243);
}
