main {
  display: flex;
  justify-content: space-around;
}

main section {
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 1252px) {
  body {
    background-color: lightblue;
  }
}
